<!DOCTYPE html>
<html>
    <head>
        <title>${header}</title>
        <style>
        body {
            font-family: Monospace;
            padding: 16px;
            margin: 0;
        }
        
        h1 {
            margin: 0 0 8px 0;
        }
        </style>
    </head>
    <body>
        <h1>${header_uc}</h1>
        <div>${description}</div>
    </body>
</html>
